@import "../../global.scss";

.portfolio {
  background-color: lightsteelblue;
  color: $mainColor;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;


.itemContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;

    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 10px 10px 10px;


        img{
            margin: 10px 10px 10px 10px;
            border-radius: 20%;
        }
        h3{
           text-align: center;
        }
        a{
            display: flex;
            flex-direction: column;
            margin: 10px 10px 10px 10px;
        }
    }
   
}
 
  }
